<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="Common.Logging.Core" version="2.2.0" targetFramework="net45" userInstalled="true" />
  <package id="NetMQ" version="3.3.0.8" targetFramework="net45" userInstalled="true" />
  <package id="Newtonsoft.Json" version="6.0.3" targetFramework="net45" userInstalled="true" />
  <package id="Res.Client" version="0.0.8.0" targetFramework="net45" userInstalled="true" />
</packages>